<p>create-ingreso works!</p>
<div class="row jcse mx-0 px-0">
  <div class="col-12 col-md-9">
    <mat-card class="mt-2">
      <mat-card-header class="pt-1">
        <mat-card-title><h3 class="mt-2">Crear Ingreso</h3> </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="ingresoForm" (ngSubmit)="createIngreso()">
          <div class="row">
            <!-- origen -->
            <mat-form-field class="col-sm-12">
              <mat-label>origen</mat-label>
              <input
                matInput
                formControlName="origen"
                id="origen"
                required
                placeholder="Ex. Factura 00, arroz"
              />
            </mat-form-field>

            <!-- destino -->
            <mat-form-field class="col-sm-12">
              <mat-label>destino</mat-label>
              <input
                matInput
                formControlName="destino"
                id="destino"
                required
                placeholder="Tienda de la esquina"
              />
            </mat-form-field>

            <!-- valor -->
            <mat-form-field class="col-sm-12">
              <mat-label>Valor</mat-label>
              <input
                matInput
                formControlName="valor"
                id="valor"
                required
                placeholder="ingresa solo numeros"
              />
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="ingresoForm.invalid"
            >
              &nbsp; Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
