<div class="container text-center">
  <div class="row">
    <div class="col p-1">
      <app-area-chart></app-area-chart>
    </div>
  </div>

  <br />
  <mat-divider></mat-divider>
  <br />
  
    <app-card></app-card>
  
  <br />
  <mat-divider></mat-divider>
  <br />
  <div class="row row-cols-1 row-cols-md-2">
    <div class="p-1 col-7">
      listado
      <mat-card><app-list></app-list></mat-card>
    </div>
    <div class="p-1 col-5">
      chart pie
      <!-- <mat-card><app-widget-pie [data]="_pie"></app-widget-pie></mat-card> -->
    </div>
  </div>
</div>
