<p>dashboard works!</p>
<div class="container text-center">
    <div class="row">
      <div class="col p-1">
        chart area
        <!-- <app-widget-area [data]="_bigChart"></app-widget-area> -->
      </div>
    </div>
  
    <br />
    <mat-divider></mat-divider>
    <br />
    <div>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
        <div class="col col-sm-6 p-1">
          <mat-card>
            card
            <!-- <app-widget-card
              label="Users"
              total="18k"
              percentage="50%"
              [data]="_cards"
            ></app-widget-card> -->
          </mat-card>
        </div>
        <div class="col p-1">
          <mat-card>
            card
            <!-- <app-widget-card
              label="Users"
              total="18k"
              percentage="50%"
              [data]="_cards"
            ></app-widget-card> -->
          </mat-card>
        </div>
        <div class="col p-1">
          <mat-card>
            card
            <!-- <app-widget-card
              label="Users"
              total="18k"
              percentage="50%"
              [data]="_cards"
            ></app-widget-card> -->
          </mat-card>
        </div>
        <div class="col p-1">
          <mat-card>
            card
            <!-- <app-widget-card
              label="Users"
              total="18k"
              percentage="50%"
              [data]="_cards"
            ></app-widget-card> -->
          </mat-card>
        </div>
      </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div class="row row-cols-1 row-cols-md-2">
      <div class="p-1 col-7">
        listado
        <mat-card><app-list></app-list></mat-card>
      </div>
      <div class="p-1 col-5">
        chart pie
        <!-- <mat-card><app-widget-pie [data]="_pie"></app-widget-pie></mat-card> -->
      </div>
    </div>
  </div>
  